@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  img#topLogo,
  img#footLogo {
    filter: invert(100%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img#topLogo {
  width: 8vw;
  height: 8vw;
}
img#footLogo {
  width: 4vw;
  height: 4vw;
}

section {
  margin: auto;
}
